

/*--- MAIN CONTAINER ---*/
.C_Green_Callout
{

}

/*--- Header ---*/
.C_Green_Callout .C_Header 
{
	
}

.C_Green_Callout .C_Header .TitleText
{

}

.C_Green_Callout .C_Header .C_Header_Graphic {
	
}


/*--- Content ---*/
.C_Green_Callout .C_Content 
{
	color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
}

.C_Green_Callout .C_Content a:link, .C_Green_Callout .C_Content a:active
{
	color:#ffffff;
	font-weight:bold;
	text-decoration:underline;
}

.C_Green_Callout .C_Content a:visited, .C_Green_Callout .C_Content a:hover
{
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}

/*--- Footer ---*/
.C_Green_Callout .C_Footer 
{
	
	
}

/*--- Flud Framework ---*/
.C_Green_Callout .RoundedCorners { background-color:#02a705; }
.C_Green_Callout .RoundedCorners .NW { background-image:url(ContainerImages/gcNW-bg.png); }
.C_Green_Callout .RoundedCorners .N { background-image:url(ContainerImages/gcN-bg.png); }
.C_Green_Callout .RoundedCorners .NE { background-image:url(ContainerImages/gcNE-bg.png); padding:10px 20px 0px 40px;}
.C_Green_Callout .RoundedCorners .W { background-image:url(ContainerImages/gcW-bg.png); }
.C_Green_Callout .RoundedCorners .E { background-image:url(ContainerImages/gcE-bg.png); }
.C_Green_Callout .RoundedCorners .SW { background-image:url(ContainerImages/gcSW-bg.png); }
.C_Green_Callout .RoundedCorners .S { background-image:url(ContainerImages/gcS-bg.png); }
.C_Green_Callout .RoundedCorners .SE { background-image:url(ContainerImages/gcSE-bg.png); }

/*--- Formatting ---*/
.C_Green_Callout h2, .C_Green_Callout .TitleText
{
	font-family:'Permanent Marker', Verdana, Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#ffffff;
	margin:0px 0px 10px 0px;
}




