

/*--- MAIN CONTAINER ---*/
.C_Red_Callout
{

}

/*--- Header ---*/
.C_Red_Callout .C_Header 
{
	
}

.C_Red_Callout .C_Header .TitleText
{

}

.C_Red_Callout .C_Header .C_Header_Graphic {
	
}


/*--- Content ---*/
.C_Red_Callout .C_Content 
{
	color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
}

.C_Red_Callout .C_Content a:link, .C_Red_Callout .C_Content a:active
{
	color:#ffffff;
	font-weight:bold;
	text-decoration:underline;
}

.C_Red_Callout .C_Content a:visited, .C_Red_Callout .C_Content a:hover
{
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}

/*--- Footer ---*/
.C_Red_Callout .C_Footer 
{
	
	
}

/*--- Flud Framework ---*/
.C_Red_Callout .RoundedCorners { background-color:#e50102; }
.C_Red_Callout .RoundedCorners .NW { background-image:url(ContainerImages/rcNW-bg.png); }
.C_Red_Callout .RoundedCorners .N { background-image:url(ContainerImages/rcN-bg.png); }
.C_Red_Callout .RoundedCorners .NE { background-image:url(ContainerImages/rcNE-bg.png); padding:10px 20px 0px 40px;}
.C_Red_Callout .RoundedCorners .W { background-image:url(ContainerImages/rcW-bg.png); }
.C_Red_Callout .RoundedCorners .E { background-image:url(ContainerImages/rcE-bg.png); }
.C_Red_Callout .RoundedCorners .SW { background-image:url(ContainerImages/rcSW-bg.png); }
.C_Red_Callout .RoundedCorners .S { background-image:url(ContainerImages/rcS-bg.png); }
.C_Red_Callout .RoundedCorners .SE { background-image:url(ContainerImages/rcSE-bg.png); }

/*--- Formatting ---*/
.C_Red_Callout h2, .C_Red_Callout .TitleText
{
	font-family:'Permanent Marker', Verdana, Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#ffffff;
	margin:0px 0px 10px 0px;
}




