@import url("menu.css");
@import url("http://fonts.googleapis.com/css?family=Permanent+Marker");
body
{
	background-image:url(images/site-bg.png);
	background-attachment:fixed;
	
	margin:0px;
	padding:0px;
}

ol li
{
	margin-bottom:16px;
}

a:link, a:active
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	
}

a:visted, a:hover
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
}

/*--- Drop Down Styles ---*/
.TitleText
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:16px;
	line-height:16px;
	margin-bottom:3px;
	margin-top:15px;
}

.SubTitleText
{
	font-weight:bold;
}

.SmallText
{
	font-size:10px;
}

.AlertText
{
	background-color: #FF6600;
}


.alignRight
{
	float:right;
	margin-left:10px;
}

div#leftBG
{

	float:left;
	width:49%; /*--- Was width:50%; but was causing issues in IE7 ---*/
	height:630px;
	margin-right: -490px; /*--- Half of the content area ---*/
	overflow:hidden;
}

div#leftBG div.slider /*--- What enables the side objets to slide off the page ---*/
{
	margin-right:490px;
	min-height:630px;
}

div#leftBG div.slider div#leftImages
{
	background-image:url(images/page-leftImages-bg.png);
	background-repeat:no-repeat;
	background-position:right top;
	max-width:575px;
	min-height:630px;
	margin-top:30px;
	
}

div#rightBG
{
	float:right;
	width:49%; /*--- Was width:50%; but was causing issues in IE7 ---*/
	height:630px; /*--- To compensate for the margin top on the rightImages div ---*/
	margin-left: -490px;
	overflow:hidden;
}

div#rightBG div.slider /*--- What enables the side objets to slide off the page ---*/
{
	margin-left:490px;
	min-height:600px;
}

div#rightBG div.slider div#rightImages
{
	background-image: url(images/page-rightImages-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	min-height: 600px;
	max-width: 568px;
	margin-top:30px;
}




div#page
{
	width:980px;
	margin: 0px auto;
	position:relative;
	float:left;
	background-image:url(images/page-bg.png);
	background-repeat:repeat-y;
}

div#header
{
	width:980px;
	height:210px;
	background-image:url(images/header-bg.png);
	background-repeat: no-repeat;
	
}

div#header div#logo
{
	float:left;
	padding:40px 0px 0px 30px;
	width:545px;
	height:137px;
}

div#header div#search
{
	float:right;
	margin-right:41px;
	margin-top:68px;
}

/*--- Style the DNN Search Textbox ---*/
div#header div#search input
{
	background-image:url(images/search-textbox-bg.png);
	background-repeat:no-repeat;
	background-position:right;
	border: medium none;
	line-height:30px;
    height: 30px;
    width: 185px;
	background-color:transparent;
	padding:0px 2px 0px 10px;
	float:left;
	font-family:'Permanent Marker', verdana;
	color:#c84c0c;
}

/*--- Style the DNN Search Textbox Submit button image ---*/
div#header div#search .SMBSearch img
{
	margin-left:-17px;
}


div#nav
{
	background-image:url(images/nav-bg.png);
	background-repeat: no-repeat;
	width:933px;
	height:57px;
	line-height:57px;
	
    margin:-5px auto 0px auto;
    width: 933px;
}

div#content
{
	background-image:url(images/content-bg.png);
	background-repeat: repeat-y;
	background-position:bottom;
	width:980px;
}

div#content div#slideshow
{
	width:880px;
	height:260px;
	margin:0px auto 15px auto;
}

div#content div#slideshow div#slideshowMask
{
	background-image:url(images/slideshow-mask-bg.png);
	background-repeat:no-repeat;
	width:880px;
	height:260px;
	position:absolute;
	left:50px;
	margin-top:-1px;	
	z-index:2 !important;
}

div#content div#slideshow .slide
{
	width:870px;
	height:250px;
	margin:0px auto;
}



div#content div#panes
{
	width:870px;
	margin:0 auto;
	padding-bottom:1px;
}


/*--- Primary Content Pane ---*/
div#content div#panes .ContentPane
{
	width:870px;
}

/*--- Two Column Layout ---*/
div#content div#panes .Col2
{
	clear:both;
}

/*--- Two Column layout with small left callout pane ---*/
div#content div#panes .LeftCalloutPane
{
	float:left;
	width:280px;
}

div#content div#panes .RightContentPane
{
	float:right;
	width:580px;
}

/*--- Two Column layout with small right callout pane ---*/
div#content div#panes .LeftContentPane
{
	float:left;
	width:580px;
}

div#content div#panes .RightCalloutPane
{
	float:right;
	width:280px;
}

/*--- Three Column layout ---*/
div#content div#panes .Col3
{
	clear:both;
}

div#content div#panes .LeftPane3Col
{
	width:285px;
	float:left;
}

div#content div#panes .MiddlePane3Col
{
	width:280px;
	float:left;
	margin-left:10px;
}

div#content div#panes .RightPane3Col
{
	width:285px;
	float:right;
}

div#content div#panes .FooterPane
{
	width:870px;
	clear:both;
}

div#contentFooter
{
	background-image:url(images/content-footer-bg.png);
	background-repeat:no-repeat;
	width:980px;
	height:60px;
}

div#footer
{
	width:980px;
	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#01276e;
}

div#footer h4
{
	font-family:'Permanent Marker', verdana;
	font-size:16px;
	margin:0px;
}

div#footer div#footerTop
{
	width:980px;
	height:20px;
	background-image:url(images/footer-top-bg.gif);
}

div#footer div#footerBottom
{
	width:980px;
	height:20px;
	background-image:url(images/footer-bottom-bg.gif);
	margin-bottom:20px;
}

div#footer div#footerContent
{
	height:200px;
	background-image:url(images/footer-bg.gif);
	background-repeat:repeat-y;
	background-position:top;
}

div#footer div#footerContent div#footerLeftCol
{
	height:200px;
	width:180px;
	margin-left: 65px;
	padding-right:20px;
	float:left;	
	background-image:url(images/vline-blue-bg.png);
	background-repeat:repeat-y;
	background-position:right;
}

div#footer div#footerContent div#footerMiddleCol
{
	height:200px;
	width:430px;
	padding:0px 15px;
	float:left;
	background-image:url(images/vline-blue-bg.png);
	background-repeat:repeat-y;
	background-position:right;
}

div#footer div#footerContent div#footerRightCol
{
	height:200px;
	width:180px;
	float:left;
	margin-left:10px;
}


/*--- Remove dotted selection line around active links/items ---*/
input:focus { outline: 0 none; } 

.clearFix 
{ 
    clear:both; 
    line-height:0; 
    margin:0; 
    padding:0; 
    font-size:0; 
    height:0;
}


/*--- DNN Overrides ---*/
.ControlPanel
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

.Normal
{
	font-size:14px;
	line-height:18px;
}