

/*--- MAIN CONTAINER ---*/
.C_Blue_Callout
{

}

/*--- Header ---*/
.C_Blue_Callout .C_Header 
{
	
}

.C_Blue_Callout .C_Header .TitleText
{

}

.C_Blue_Callout .C_Header .C_Header_Graphic {
	
}


/*--- Content ---*/
.C_Blue_Callout .C_Content 
{
	color:#ffffff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
}

.C_Blue_Callout .C_Content a:link, .C_Blue_Callout .C_Content a:active
{
	color:#ffffff;
	font-weight:bold;
	text-decoration:underline;
}

.C_Blue_Callout .C_Content a:visited, .C_Blue_Callout .C_Content a:hover
{
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}

/*--- Footer ---*/
.C_Blue_Callout .C_Footer 
{
	
	
}

/*--- Flud Framework ---*/
.C_Blue_Callout .RoundedCorners { background-color:#01276e; }
.C_Blue_Callout .RoundedCorners .NW { background-image:url(ContainerImages/bcNW-bg.png); }
.C_Blue_Callout .RoundedCorners .N { background-image:url(ContainerImages/bcN-bg.png); }
.C_Blue_Callout .RoundedCorners .NE { background-image:url(ContainerImages/bcNE-bg.png); padding:10px 20px 0px 40px;}
.C_Blue_Callout .RoundedCorners .W { background-image:url(ContainerImages/bcW-bg.png); }
.C_Blue_Callout .RoundedCorners .E { background-image:url(ContainerImages/bcE-bg.png); }
.C_Blue_Callout .RoundedCorners .SW { background-image:url(ContainerImages/bcSW-bg.png); }
.C_Blue_Callout .RoundedCorners .S { background-image:url(ContainerImages/bcS-bg.png); }
.C_Blue_Callout .RoundedCorners .SE { background-image:url(ContainerImages/bcSE-bg.png); }

/*--- Formatting ---*/
.C_Blue_Callout h2, .C_Blue_Callout .TitleText
{
	font-family:'Permanent Marker', Verdana, Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#ffffff;
	margin:0px 0px 10px 0px;
}




