

/*--- MAIN CONTAINER ---*/
.C_Green_Bar_Icon_Icon
{

}

/*--- Header ---*/
.C_Green_Bar_Icon .C_Header 
{
	margin-top:-15px;
}

.C_Green_Bar_Icon .C_Icon
{
	float:left;
	margin: 0px 10px 0px 20px;
}

.C_Green_Bar_Icon .C_Header .TitleText
{

}

.C_Green_Bar_Icon .C_Header .C_Header_Graphic {
	
}


/*--- Content ---*/
.C_Green_Bar_Icon .C_Content 
{
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	padding:0px 25px;
	clear:both;
}

.C_Green_Bar_Icon .C_Content a:link, .C_Green_Bar_Icon .C_Content a:active
{
	color:#02a705;
	font-weight:bold;
	text-decoration:underline;
}

.C_Green_Bar_Icon .C_Content a:visited, .C_Green_Bar_Icon .C_Content a:hover
{
	color:#02a705;
	font-weight:bold;
	text-decoration:none;
}

/*--- Footer ---*/
.C_Green_Bar_Icon .C_Footer 
{
	
	
}

/*--- Flud Framework ---*/
.C_Green_Bar_Icon .RoundedCorners { background-color:#02a705; }
.C_Green_Bar_Icon .RoundedCorners .NW { background-image:url(ContainerImages/gbNW-bg.png);}
.C_Green_Bar_Icon .RoundedCorners .N { background-image:url(ContainerImages/gbN-bg.png); }
.C_Green_Bar_Icon .RoundedCorners .NE { background-image:url(ContainerImages/gbNE-bg.png); padding:10px 20px 0px 40px; min-height:40px;}
.C_Green_Bar_Icon .RoundedCorners .W { background-image:url(ContainerImages/gbW-bg.png); }
.C_Green_Bar_Icon .RoundedCorners .E { background-image:url(ContainerImages/gbE-bg.png); }
.C_Green_Bar_Icon .RoundedCorners .SW { background-image:url(ContainerImages/gbSW-bg.png); }
.C_Green_Bar_Icon .RoundedCorners .S { background-image:url(ContainerImages/gbS-bg.png); }
.C_Green_Bar_Icon .RoundedCorners .SE { background-image:url(ContainerImages/gbSE-bg.png); min-height:26px;}

/*--- Formatting ---*/
.C_Green_Bar_Icon h2, .C_Green_Bar_Icon .TitleText
{
	font-family:'Permanent Marker', Verdana, Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#ffffff;
	margin:25px 0px 10px 0px;
	line-height:30px;
}




