
/*--- MAIN CONTAINER ---*/
.C_Red_Bar_Icon
{

}

/*--- Header ---*/
.C_Red_Bar_Icon .C_Header 
{
	margin-top:-15px;
}

.C_Red_Bar_Icon .C_Icon
{
	float:left;
	margin: 0px 10px 0px 20px;
}

.C_Red_Bar_Icon .C_Header .TitleText
{

}

.C_Red_Bar_Icon .C_Header .C_Header_Graphic {
	
}


/*--- Content ---*/
.C_Red_Bar_Icon .C_Content 
{
	color:#333333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:18px;
	padding:0px 25px;
	clear:both;
}

.C_Red_Bar_Icon .C_Content a:link, .C_Red_Bar_Icon .C_Content a:active
{
	color:#e50102;
	font-weight:bold;
	text-decoration:underline;
}

.C_Red_Bar_Icon .C_Content a:visited, .C_Red_Bar_Icon .C_Content a:hover
{
	color:#e50102;
	font-weight:bold;
	text-decoration:none;
}


/*--- Footer ---*/
.C_Red_Bar_Icon .C_Footer 
{
	
	
}

/*--- Flud Framework ---*/
.C_Red_Bar_Icon .RoundedCorners { background-color:#e50102; }
.C_Red_Bar_Icon .RoundedCorners .NW { background-image:url(ContainerImages/rbNW-bg.png);}
.C_Red_Bar_Icon .RoundedCorners .N { background-image:url(ContainerImages/rbN-bg.png); }
.C_Red_Bar_Icon .RoundedCorners .NE { background-image:url(ContainerImages/rbNE-bg.png); padding:10px 20px 0px 40px; min-height:40px;}
.C_Red_Bar_Icon .RoundedCorners .W { background-image:url(ContainerImages/rbW-bg.png); }
.C_Red_Bar_Icon .RoundedCorners .E { background-image:url(ContainerImages/rbE-bg.png); }
.C_Red_Bar_Icon .RoundedCorners .SW { background-image:url(ContainerImages/rbSW-bg.png); }
.C_Red_Bar_Icon .RoundedCorners .S { background-image:url(ContainerImages/rbS-bg.png); }
.C_Red_Bar_Icon .RoundedCorners .SE { background-image:url(ContainerImages/rbSE-bg.png); min-height:26px;}

/*--- Formatting ---*/
.C_Red_Bar_Icon h2, .C_Red_Bar_Icon .TitleText
{
	font-family:'Permanent Marker', Verdana, Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#ffffff;
	margin:25px 0px 10px 0px;
	line-height:30px;
}




