

/* Gallery styles */

#gallery{
	
	/* The width of the gallery */
	width:870px;
	overflow:hidden;
	margin-left:4px;
}

#slides{
	/* This is the slide area */
	height:270px;
	
	/* jQuery changes the width later on to the sum of the widths of all the slides. */
	width:870px;
	overflow:hidden;
}

.slide{
	float:left;
}

#menu{
	/* This is the container for the thumbnails */
	height:45px;
	margin: 240px auto 0 auto;
	width:100px;
}

#menu ul{
	margin:0px;
	padding:0px;
}

#menu li{
	/* Every thumbnail is a li element */
	margin-top:10px;
	display:inline-block;
	width:16px;
	list-style:none;
	float:left;
	overflow:hidden;
}
#menu li.inact
{
	background:url(images/slide-nav.png) no-repeat;
}

#menu li.inact:hover{
	/* The inactive state, highlighted on mouse over */
}

#menu li.act,li.act:hover{
	/* The active state of the thumb */
	background:url(images/slide-nav-active.png) no-repeat;
}

#menu li.act a{
	cursor:default;
}

#menu .fbar{
	/* The left-most vertical bar, next to the first thumbnail */
	width:2px;
	/*background:url(img/divider.png) no-repeat right;*/
}

#menu li a{
	display:block;
	/*background:url(img/divider.png) no-repeat right;*/
	height:35px;
	padding-top:10px;
}

#menu a img{
	border:none;
}


/* The styles below are only necessary for the demo page */


#main{
	/* The main container */
	margin:15px auto;
	text-align:center;
	width:920px;
	position:relative;
}
